@use "../../styles/global.scss" as global;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: global.$spacing-xxl global.$spacing-lg;
    min-height: calc(100vh - 80px); // Subtrai a altura do header
}

.content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: global.$spacing-xxl;
    width: 100%;
    max-width: 1200px;
    align-items: start;
}

.loginSection, .searchSection {
    background: global.$color-card-background;
    padding: global.$spacing-xl;
    border-radius: global.$border-radius;
    box-shadow: global.$shadow-lg;

    h1 {
        text-align: center;
        margin-bottom: global.$spacing-lg;
        color: global.$color-text-primary;
    }
    .subtitle {
        text-align: center;
        margin-top: -15px;
        margin-bottom: 20px;
        color: global.$color-text-secondary;
    }
}

@media (max-width: 900px) {
    .content {
        grid-template-columns: 1fr;
    }
}