@use "../../styles/global.scss" as global;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: global.$spacing-xxl global.$spacing-lg;
    min-height: calc(100vh - 80px);
}

.content {
    display: flex; // Usando flex para facilitar a reordenação
    gap: global.$spacing-xxl; // Aumentado o espaço entre os cards
    width: 100%;
    max-width: 1200px;
    align-items: flex-start;
}

.loginSection {
    flex: 1; // Define a proporção do card de login
}

.searchSection {
    flex: 1.5; // Faz o card de busca ser um pouco maior
}

.loginSection, .searchSection {
    background: global.$color-card-background;
    padding: global.$spacing-xl;
    border-radius: global.$border-radius;
    box-shadow: global.$shadow-lg;
    width: 100%;

    h1 {
        text-align: center;
        margin-bottom: global.$spacing-lg;
        color: global.$color-text-primary;
    }
    .subtitle {
        text-align: center;
        margin-top: -15px;
        margin-bottom: 20px;
        color: global.$color-text-secondary;
    }
}

// Media query para telas menores (ex: celulares e tablets na vertical)
@media (max-width: 900px) {
    .content {
        flex-direction: column; // Coloca os cards um sobre o outro
    }

    .loginSection {
        order: 2; // Define que o login será o SEGUNDO item
    }

    .searchSection {
        order: 1; // Define que a busca será o PRIMEIRO item
    }
}