@use "../../styles/global.scss" as global;

.container {
    width: 100%;
}

.title {
    color: global.$color-text-primary;
    text-align: center;
    margin-bottom: global.$spacing-xl;
}

.form {
    display: flex;
    flex-direction: column;
    gap: global.$spacing-lg;
}

.submitButton {
    margin-top: global.$spacing-md;
}