@use "../../styles/global.scss" as global;

.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.title {
    font-size: 2.5rem;
    font-weight: global.$font-weight-bold;
    color: global.$color-text-primary;
    margin-bottom: global.$spacing-xl;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: global.$spacing-md;
}

.submitButton {
    margin-top: global.$spacing-lg;
    width: 100%;
}