@use "../../../styles/global.scss" as global;

.proofCard {
    background: global.$color-background; // CORREÇÃO AQUI
    border: 1px solid global.$color-border;
    border-radius: global.$border-radius;
    padding: global.$spacing-lg;
    margin-bottom: global.$spacing-lg;
}

.proofHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: global.$spacing-md;
    h4 { font-size: 1.3rem; }
}

.removeButton {
    background-color: #E53E3E;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    &:hover { background-color: #C53030; }
}

.proofInputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: global.$spacing-md;
    margin-bottom: global.$spacing-lg;
}

.addSeriesButton {
    width: 100%;
    padding: global.$spacing-sm;
    border: 2px dashed global.$color-primary-light;
    background: transparent;
    color: global.$color-primary-light;
    cursor: pointer;
    margin-top: global.$spacing-md;
    border-radius: global.$border-radius-small;
    font-weight: global.$font-weight-bold;

    &:hover {
        background: global.$color-primary;
        color: global.$color-white;
    }
}