@use "../../styles/global.scss" as global;

.container {
    padding: global.$spacing-xl;
    max-width: 1200px;
    margin: auto;
}

.content {
    background: global.$color-card-background;
    padding: global.$spacing-xl;
    border-radius: global.$border-radius;
    box-shadow: global.$shadow-lg;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: global.$spacing-xl;
    border-bottom: 1px solid global.$color-border;
    padding-bottom: global.$spacing-lg;
    flex-wrap: wrap; // Permite que o botão quebre a linha se não houver espaço
    gap: global.$spacing-lg; // Adiciona um espaço entre o título e o botão
    
    h1 {
        color: global.$color-text-primary;
    }
}

// Regra para telas menores
@media (max-width: 768px) {
    .header {
        flex-direction: column; // Coloca o botão abaixo do título
        align-items: stretch; // Faz o botão ocupar a largura total

        h1 {
            text-align: center; // Centraliza o título
        }
    }

    .content {
        padding: global.$spacing-lg;
    }
}