@use "sass:color";
@use "../../styles/global.scss" as global;

.searchContainer {
    width: 100%;
    position: relative;
}
.searchResults {
    margin-top: global.$spacing-lg;
}
.searchQuery {
    text-align: center;
    color: global.$color-text-secondary;
    margin-bottom: global.$spacing-lg;
    
    span {
        color: global.$color-primary-light;
        font-weight: global.$font-weight-bold;
    }
}
.resultsList {
    display: flex;
    flex-direction: column;
    gap: global.$spacing-lg;
    padding: 0;
    list-style-type: none;
}
.noResults {
    text-align: center;
    padding: global.$spacing-xxl 0;
    color: global.$color-text-secondary;
    h1 { margin-bottom: global.$spacing-md; }
}

.athleteCard {
    background: global.$color-card-background;
    border-radius: global.$border-radius;
    padding: global.$spacing-lg;
    box-shadow: global.$shadow-lg;
    border-left: 4px solid global.$color-primary;
    list-style-type: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        border-left-color: global.$color-primary-light;
        // CORREÇÃO AQUI
        background-color: color.adjust(global.$color-card-background, $lightness: 3%);
    }
}

.athleteHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0; 
}

.athleteInfo {
    h3 {
        color: global.$color-text-primary;
        font-size: 1.75rem;
        margin: 0;
    }
}

.tags {
    display: flex;
    gap: global.$spacing-sm;
    margin-top: global.$spacing-sm;
    .tag {
        background-color: global.$color-primary-dark;
        color: global.$color-white;
        padding: global.$spacing-xs global.$spacing-sm;
        border-radius: 20px;
        font-size: 0.8rem;
        font-weight: global.$font-weight-bold;
        text-transform: uppercase;
    }
}

.toggleIcon {
    font-size: 1.5rem;
    color: global.$color-text-secondary;
    transition: transform 0.3s ease-in-out;

    &.expanded {
        transform: rotate(180deg);
    }
}

.timeCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: global.$spacing-md;
    margin-top: global.$spacing-lg;
    padding-top: global.$spacing-lg;
    border-top: 1px solid global.$color-border;
}

.timeCard {
    padding: global.$spacing-md;
    border-radius: global.$border-radius-small;
    text-align: center;
    color: global.$color-white;
    background: global.$color-background;

    .distance {
        font-size: 0.9rem;
        color: global.$color-text-secondary;
        margin-bottom: global.$spacing-xs;
        font-weight: global.$font-weight-bold;
        border-bottom: 1px solid global.$color-border;
        padding-bottom: global.$spacing-xs;
    }

    .time {
        font-size: 1.75rem;
        color: global.$color-text-primary;
        font-weight: global.$font-weight-bold;
    }

    .split {
        font-size: 0.9rem;
        color: global.$color-text-secondary;
    }
}